In [1]:
import pandas as pd
import numpy as np

In [ ]:
##dictionary
# Creating a Dictionary
person = {'name': 'John', 'age': 30, 'country': 'USA'}

# Accessing Values
print(person['name'])     # Output: John
print(person.get('age'))  # Output: 30

# Modifying Values
person['age'] = 31
person['country'] = 'Canada'
print(person)  # Output: {'name': 'John', 'age': 31, 'country': 'Canada'}

# Adding a New Key-Value Pair
person['occupation'] = 'Engineer'
print(person)  # Output: {'name': 'John', 'age': 31, 'country': 'Canada', 'occupation': 'Engineer'}

# Removing a Key-Value Pair
del person['age']
# or
person.pop('age')
print(person)  # Output: {'name': 'John', 'country': 'Canada'}

# Checking if a Key Exists
if 'age' in person:
    print("Age exists")
else:
    print("Age does not exist")

# Iterating Over a Dictionary
for key in person:
    print(key)

for value in person.values():
    print(value)

for key, value in person.items():
    print(key, value)

# Length of a Dictionary
print(len(person))  # Output: 2

In [7]:
my_dict = {"name": "John", "age": 25}
keys = my_dict.keys()
print(keys)
values = my_dict.values()
print(values)
items = my_dict.items()
print(items)
value = my_dict.get("name")
print(values)
popped_value = my_dict.pop("age")
print(popped_value)

dict_keys(['name', 'age'])
dict_values(['John', 25])
dict_items([('name', 'John'), ('age', 25)])
dict_values(['John', 25])
25

In [8]:
import pandas as pd

# Sample dictionary with multiple lists
data = {
    'Name': ['John', 'Emma', 'David'],
    'Age': [25, 28, 32],
    'City': ['New York', 'London', 'Paris']
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  David   32     Paris

# Dictionary comprehension

In [9]:
# Create a dictionary of numbers and their squares
numbers = [1, 2, 3, 4, 5]
squared_dict = {num: num**2 for num in numbers}
print(squared_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
# Create a dictionary of even numbers and their squares
numbers = [1, 2, 3, 4, 5]
even_squares = {num: num**2 for num in numbers if num%2 == 0}
print(even_squares)

{2: 4, 4: 16}

In [11]:
# Create a dictionary of words and their lengths
words = ['apple', 'banana', 'orange']
word_lengths = {word: len(word) for word in words}
print(word_lengths)

{'apple': 5, 'banana': 6, 'orange': 6}

In [12]:
# Original dictionary
original_dict = {'a': 1, 'b': 2, 'c': 3}

# Reverse the dictionary (swap keys and values)
reversed_dict = {value: key for key, value in original_dict.items()}
print(reversed_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [13]:
# Original dictionary
original_dict = {'apple': 5, 'banana': 8, 'orange': 3}

# Filter the dictionary to keep only items with values greater than 5
filtered_dict = {key: value for key, value in original_dict.items() if value > 5}
print(filtered_dict)

{'banana': 8}

In [14]:
# Original dictionary
original_dict = {'apple': 5, 'banana': 8, 'orange': 3}

# Create a new dictionary with uppercase keys and values multiplied by 2
new_dict = {key.upper(): value * 2 for key, value in original_dict.items()}
print(new_dict)

{'APPLE': 10, 'BANANA': 16, 'ORANGE': 6}

In [15]:
# Lists of keys and values
keys = ['a', 'b', 'c']
values = [1, 2, 3]

# Create a dictionary by combining the lists
combined_dict = {k:v for k,v in zip(keys,values)}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3}

In [19]:
# Original dictionary with nested dictionaries
original_dict = {
    'person1': {'name': 'John', 'age': 25},
    'person2': {'name': 'Emma', 'age': 28},
    'person3': {'name': 'David', 'age': 32}
}

# Create a new dictionary with only names of persons
names_dict = {key: value['name'] for key, value in original_dict.items()}
print(names_dict)

{'person1': 'John', 'person2': 'Emma', 'person3': 'David'}

In [20]:
# Original dictionary
original_dict = {'apple': 5, 'banana': 8, 'orange': 3}

# Create a new dictionary with values doubled if they are even
new_dict = {key:value*2 if value %2==0 else value for key,value in original_dict.items()}
print(new_dict)

{'apple': 5, 'banana': 16, 'orange': 3}

In [25]:
import pandas as pd

# Sample nested dictionary with different lengths
data = {
    'person1': {'name': 'John', 'age': 25, 'city': 'New York'},
    'person2': {'name': 'Emma', 'age': 28, 'city': 'London', 'occupation': 'Engineer'},
    'person3': {'name': 'David', 'age': 32, 'city': 'Paris'}
}

# Convert nested dictionary to DataFrame
df = pd.DataFrame.from_dict(data, orient='index')
#df = pd.DataFrame(data)
# Print the DataFrame
print(df)

          name  age      city occupation
person1   John   25  New York        NaN
person2   Emma   28    London   Engineer
person3  David   32     Paris        NaN

# Dictionary methods

In [26]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
items = my_dict.items()
print(items)  # dict_items([('a', 1), ('b', 2), ('c', 3)])
print("returns the items as a tuple")

dict_items([('a', 1), ('b', 2), ('c', 3)])
returns the items as a tuple

In [27]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.get('a')
print(value)  # 1

value = my_dict.get('d', 0)
print(value)  # 0

1
0

In [28]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.pop('b')
print(value)  # 2
print(my_dict)  # {'a': 1, 'c': 3}

value = my_dict.pop('d', 0)
print(value)  # 0

2
{'a': 1, 'c': 3}
0

In [29]:
my_dict = {'a': 1, 'b': 2}
other_dict = {'c': 3, 'd': 4}
my_dict.update(other_dict)
print(my_dict)  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
key, value = my_dict.popitem()
print(key, value)  # 'c' 3
print(my_dict)  # {'a': 1, 'b': 2}

c 3
{'a': 1, 'b': 2}

In [31]:
keys = ['a', 'b', 'c']
default_value = 0
my_dict = dict.fromkeys(keys, default_value)
print(my_dict)  # {'a': 0, 'b': 0, 'c': 0}

{'a': 0, 'b': 0, 'c': 0}

# random

In [32]:
my_dict = {}

for i in range(1, 5):
    key = f'key{i}'
    value = f'value{i}'
    my_dict.update({key: value})

print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [33]:
my_dict = {}

for i in range(1, 10):
    if i % 2 == 0:
        key = f'key{i}'
        value = f'value{i}'
        my_dict.update({key: value})

print(my_dict)

{'key2': 'value2', 'key4': 'value4', 'key6': 'value6', 'key8': 'value8'}

In [34]:
text = "Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer consectetur consectetur velit id aliquet."
words = text.split()

word_count = {}
for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print(word_count)

{'Lorem': 1, 'ipsum': 1, 'dolor': 1, 'sit': 1, 'amet': 1, 'consectetur': 3, 'adipiscing': 1, 'elit.': 1, 'Integer': 1, 'velit': 1, 'id': 1, 'aliquet.': 1}

In [35]:
products = [
    {'name': 'Apple', 'category': 'Fruit'},
    {'name': 'Carrot', 'category': 'Vegetable'},
    {'name': 'Orange', 'category': 'Fruit'},
    {'name': 'Broccoli', 'category': 'Vegetable'},
    {'name': 'Banana', 'category': 'Fruit'}
]

category_dict = {}
for product in products:
    category = product['category']
    if category in category_dict:
        category_dict[category].append(product['name'])
    else:
        category_dict[category] = [product['name']]

print(category_dict)

{'Fruit': ['Apple', 'Orange', 'Banana'], 'Vegetable': ['Carrot', 'Broccoli']}

In [50]:
products = [
    {'name': 'Apple', 'category': 'Fruit'},
    {'name': 'Carrot', 'category': 'Vegetable'},
    {'name': 'Orange', 'category': 'Fruit'},
    {'name': 'Broccoli', 'category': 'Vegetable'},
    {'name': 'Banana', 'category': 'Fruit'}
]

In [55]:
category_dict = {}
for product in products:
    category = product['category']
    print(category)
    if category in category_dict:
        category_dict[category].append(product['name'])
    else:
        category_dict[category] = [product['name']]
    print(category_dict)

Fruit
{'Fruit': ['Apple']}
Vegetable
{'Fruit': ['Apple'], 'Vegetable': ['Carrot']}
Fruit
{'Fruit': ['Apple', 'Orange'], 'Vegetable': ['Carrot']}
Vegetable
{'Fruit': ['Apple', 'Orange'], 'Vegetable': ['Carrot', 'Broccoli']}
Fruit
{'Fruit': ['Apple', 'Orange', 'Banana'], 'Vegetable': ['Carrot', 'Broccoli']}

# Tuples

In [56]:
"""Tuples are useful when you have a collection of values that should not be modified, 
such as coordinates, database records, or function return values. 
Their immutability makes them suitable for scenarios where you want to ensure the integrity 
of the data and prevent accidental modifications."""

'Tuples are useful when you have a collection of values that should not be modified, \nsuch as coordinates, database records, or function return values. \nTheir immutability makes them suitable for scenarios where you want to ensure the integrity \nof the data and prevent accidental modifications.'

In [57]:
empty_tuple = ()
single_element_tuple = (1,)
multiple_elements_tuple = (1, 2, 3)
tuple_from_list = tuple([4, 5, 6])

In [58]:
my_tuple = ('a', 'b', 'c', 'd')
print(my_tuple[0])  # 'a'
print(my_tuple[2])  # 'c'

a
c

In [59]:
my_tuple = ('John', 25, 'New York')
name, age, city = my_tuple
print(name)  # 'John'
print(age)  # 25
print(city)  # 'New York'
##tuple unpacking

John
25
New York

In [60]:
#tuple operation
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # (1, 2, 3, 'a', 'b', 'c')

repeated_tuple = tuple1 * 2
print(repeated_tuple)  # (1, 2, 3, 1, 2, 3)

print(2 in tuple1)  # True
print('d' not in tuple2)  # True

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 1, 2, 3)
True
True

In [61]:
my_tuple = ('a', 'b', 'c', 'a', 'd')

count_a = my_tuple.count('a')
print(count_a)  # 2

index_d = my_tuple.index('d')
print(index_d)  # 4
##tuple methods

2
4

# Tuple comprehension

In [63]:
#new_tuple = (expression for item in iterable if condition)

In [64]:
numbers = [1, 2, 3, 4, 5]
squared_tuples = tuple((x, x**2) for x in numbers if x % 2 == 0)
print(squared_tuples)

((2, 4), (4, 16))

In [66]:
numbers = (2, 3, 4, 5, 6, 7, 8, 9, 10)
prime_tuples = tuple((x) for x in numbers if all(x % i != 0 for i in range(2, x)) and x > 1)
print(prime_tuples)
#filtering prime

(2, 3, 5, 7)

In [67]:
colors = ('red', 'green', 'blue')
sizes = ('small', 'medium', 'large')
cartesian_product = tuple((color, size) for color in colors for size in sizes)
print(cartesian_product)
#Cartesian Product:

(('red', 'small'), ('red', 'medium'), ('red', 'large'), ('green', 'small'), ('green', 'medium'), ('green', 'large'), ('blue', 'small'), ('blue', 'medium'), ('blue', 'large'))

In [68]:
##methods in tuple

In [69]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_2 = my_tuple.count(2)
print(count_2)  # Output: 3

3

In [70]:
my_tuple = ('a', 'b', 'c', 'b')
index_b = my_tuple.index('b')
print(index_b)  # Output: 1

1

In [71]:
my_tuple = ('apple', 'banana', 'orange')
length = len(my_tuple)
print(length)  # Output: 3

3