In [1]:
import pandas as pd
import numpy as np

In [2]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [5]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [3]:
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4]

In [ ]:
"""The map() function in Python is a built-in function that applies a given 
function to each element of an iterable (such as a list or tuple) and returns an 
iterator with the transformed values. It has the following syntax:"""

In [4]:
#map(function, iterable)

In [6]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

celsius_temperatures = [25, 30, 15, 10]
fahrenheit_temperatures = list(map(celsius_to_fahrenheit, celsius_temperatures))
print(fahrenheit_temperatures)

[77.0, 86.0, 59.0, 50.0]

In [8]:
fahrenheit_temperatures = list(map(lambda celsius: (celsius *9/5)+32,celsius_temperatures))
print(fahrenheit_temperatures)

[77.0, 86.0, 59.0, 50.0]

In [9]:
sentence = "The quick brown fox jumps over the lazy dog"
word_lengths = list(map(len, sentence.split()))
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [10]:
strings = ["Hello", "World", "Python"]
reversed_strings = list(map(lambda x: x[::-1], strings))
print(reversed_strings)

['olleH', 'dlroW', 'nohtyP']

In [11]:
lowercase_letters = ['a', 'b', 'c', 'd', 'e']
uppercase_letters = list(map(str.upper, lowercase_letters))
print(uppercase_letters)

['A', 'B', 'C', 'D', 'E']

In [12]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Country': ['USA', 'Canada', 'UK']}

df = pd.DataFrame(data)

country_map = {'USA': 'United States',
               'Canada': 'Canada',
               'UK': 'United Kingdom'}

df['Country'] = df['Country'].map(country_map)

print(df)

      Name  Age         Country
0    Alice   25   United States
1      Bob   30          Canada
2  Charlie   35  United Kingdom

In [19]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

def add_prefix(name):
    return 'Mr. ' + name

df['Name'] = df['Name'].map(add_prefix)
print(df)

          Name  Age
0    Mr. Alice   25
1      Mr. Bob   30
2  Mr. Charlie   35

In [24]:
#mapping based on condition
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)
df['status'] = df['Age'].map(lambda age: "adult" if age>=18 else "minor")
df

      Name  Age status
0    Alice   25  adult
1      Bob   30  adult
2  Charlie   35  adult

In [25]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Gender': ['Female', 'Male', 'Male']}

df = pd.DataFrame(data)

# Mapping values based on gender and age
mapping = {('Female', 25): 'Young Female',
           ('Male', 30): 'Middle-aged Male',
           ('Male', 35): 'Senior Male'}

df['MappedValue'] = df[['Gender', 'Age']].apply(lambda row: mapping.get(tuple(row)), axis=1)

print(df)

      Name  Age  Gender       MappedValue
0    Alice   25  Female      Young Female
1      Bob   30    Male  Middle-aged Male
2  Charlie   35    Male       Senior Male

In [35]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
def prefix(name):
    return name+suffix
suffix= "_kumar"

df = pd.DataFrame(data)
df['updated_Name'] = df['Name'].map(prefix)
print(df)

      Name  Age   updated_Name
0    Alice   25    Alice_kumar
1      Bob   30      Bob_kumar
2  Charlie   35  Charlie_kumar

In [ ]:
"""The apply() method in pandas is a powerful function that allows 
you to apply a custom function along either the rows or columns of a DataFrame. 
Here are a few examples showcasing the usage of the apply() method:
"""

In [37]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Country': ['USA', 'Canada', 'UK']}

df = pd.DataFrame(data)

# Applying a function to each column to calculate the length of the values
column_lengths = df.apply(lambda x: str(x).len())
print(column_lengths)

AttributeError: 'str' object has no attribute 'len'

In [38]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Applying a function to each row to check if age is greater than 30
df['IsOlderThan30'] = df.apply(lambda row: row['Age'] > 30, axis=1)
print(df)

      Name  Age  IsOlderThan30
0    Alice   25          False
1      Bob   30          False
2  Charlie   35           True

In [39]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Function to check if age is greater than 30
def is_older_than_30(row):
    return row['Age'] > 30

# Applying the function to each row
df['IsOlderThan30'] = df.apply(is_older_than_30, axis=1)
print(df)

      Name  Age  IsOlderThan30
0    Alice   25          False
1      Bob   30          False
2  Charlie   35           True

In [40]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 70000]}

df = pd.DataFrame(data)

# Function to calculate the total income based on age and salary
def calculate_income(row):
    age = row['Age']
    salary = row['Salary']
    return age * salary

# Applying the function to multiple columns
df['Income'] = df[['Age', 'Salary']].apply(calculate_income, axis=1)
print(df)

      Name  Age  Salary   Income
0    Alice   25   50000  1250000
1      Bob   30   60000  1800000
2  Charlie   35   70000  2450000

In [41]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Function to calculate the year of birth based on age
def calculate_birth_year(age):
    current_year = pd.Timestamp.now().year
    return current_year - age

# Applying the function to the 'Age' column and creating a new column 'BirthYear'
df['BirthYear'] = df['Age'].apply(calculate_birth_year)
print(df)

      Name  Age  BirthYear
0    Alice   25       1998
1      Bob   30       1993
2  Charlie   35       1988

In [47]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}

df = pd.DataFrame(data)

# Function to calculate the sum and product of two values
def calculate_sum_product(row):
    a = row['A']
    b = row['B']
    return np.sum([a, b]), np.product([a, b])

# Applying the function to each row and creating new columns 'Sum' and 'Product'
df[['Sum', 'Product']] = df.apply(calculate_sum_product, axis=1, result_type='expand')
print(df)

   A  B  Sum  Product
0  1  4    5        4
1  2  5    7       10
2  3  6    9       18